test2.html
test.html
PHP/HTMLEncoder/test.php
PHP/.DS_Store
JavaScript/unminified
JavaScript/minified.js
JavaScript/Old.js
.idea/workspace.xml
.idea/watcherTasks.xml
.idea/sqldialects.xml
.idea/modules.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/HTMLEncoder.iml
.DS_Store
.idea/
